/dig-microservice
/postgres-db
/pyspark-analyse

/dashboard/node_modules/
/dashboard/dist/
/dashboard/.idea/

/statistics-service/node_modules/
/statistics-service/build/
/statistics-service/.idea/

domain-analysis-types/node_modules/
domain-analysis-types/lib/
domain-analysis-types/.idea/
