<mat-toolbar [class.mat-elevation-z3]="isScrolled">
    <mat-toolbar-row class="header-content p-3 p-md-4">
        <button
            mat-icon-button
            color="primary"
            class="mr-2 d-sm-none"
            (click)="actions.isSidebarOpened = true"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <div class="flex-grow-1 d-inline overflow-hidden" id="app-title">
            {{ 'header.appTitle' | translate }}
        </div>

        <div class="flex-grow-0 d-none d-sm-inline">
            <button
                *ngFor="let action of actions.actionItems"
                mat-icon-button
                [color]="action.color"
                [matTooltip]="action.translationKey | translate"
                (click)="action.onClick()"
            >
                <mat-icon> {{ 'language' }}</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
