<mat-nav-list>
    <ng-container *ngIf="statistics.isConnected">
        <a mat-list-item disabled class="color-green">
            <mat-icon class="mr-2"> check_circle </mat-icon>
            {{ 'header.connectedShort' | translate }}
        </a>
        <mat-divider></mat-divider>
    </ng-container>

    <a
        mat-list-item
        *ngFor="let action of actions.actionItems"
        class="my-auto"
        [ngClass]="action.color"
        (click)="action.onClick()"
    >
        <mat-icon *ngIf="action.icon; else faIcon" class="mr-2">
            {{ action.icon }}
        </mat-icon>
        <ng-template #faIcon>
            <fa-icon
                *ngIf="action.faIcon"
                [icon]="action.faIcon"
                class="mr-2"
            ></fa-icon>
        </ng-template>

        {{ action.translationKey | translate }}
    </a>
</mat-nav-list>
