<mat-card class="mt-3">
    <mat-card-content class="d-flex flex-column">
        <canvas
            baseChart
            *ngIf="chart.hasData; else emptyChart"
            [datasets]="chart.data"
            [legend]="chart.showLabels"
            [labels]="chart.labels"
            [options]="chart.options"
            [chartType]="chart.type"
        >
        </canvas>
        <mat-divider class="position-relative my-3"></mat-divider>
        <h4 class="color-primary mx-auto">
            <b> {{ 'dashboard.chart.meta.nth' | translate: { n: nr } }}: </b>
            {{ chart.titleKey | translate }}
        </h4>

        <ng-template #emptyChart>
            <div
                class="w-100 d-flex no-data-info color-darkgrey"
                [style.height.px]="self.offsetWidth * 0.5"
                #self
            >
                <div class="m-auto text-center">
                    <mat-icon [inline]="true" class="mb-n3">
                        bar_chart
                    </mat-icon>
                    <h3 class="m-0">
                        {{ 'dashboard.chart.general.noData' | translate }}
                    </h3>
                </div>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>
