.fit-content {
    width: fit-content;
}

form {
    &,
    * {
        font-size: large;
        font-family: monospace;
    }

    pre {
        color: #00ff00;
        white-space: pre-wrap;
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
    }
}
