<h1 matDialogTitle>
    <fa-icon [icon]="terminalIcon" class="mr-3"></fa-icon>
    {{ 'header.action.digMs' | translate }}
</h1>

<mat-dialog-content #container>
    <div class="fit-content">
        <ng-container *ngFor="let result of requests">
            <ng-container *ngIf="result | async as result">
                <pre class="terminal-green mb-0"
                    >dig {{ result.digged }} ({{ result.timestamp }})</pre
                >
                <pre>{{ result.answer }}</pre>
            </ng-container>
        </ng-container>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <form class="d-flex w-100" (ngSubmit)="dig()">
        <pre class="my-auto terminal-green">$ dig </pre>
        <input
            [(ngModel)]="digService.currentValue"
            name="dig-name"
            autofocus
            class="flex-grow-1 p-0"
        />
    </form>
</mat-dialog-actions>
