<div class="row">
    <div
        class="col-xl-4 col-lg-6"
        *ngFor="let kpi of statistics.kpis; index as index"
    >
        <app-kpi-card [kpi]="kpi" [nr]="index + 1"></app-kpi-card>
    </div>
    <div
        class="col-xl-6"
        *ngFor="let chart of statistics.charts; index as index"
    >
        <app-chart-card [chart]="chart" [nr]="index + 1"></app-chart-card>
    </div>

    <div *ngFor="let chart of charts" class="col-xl-6">
        <app-chart-card [chart]="chart" [nr]="123"></app-chart-card>
    </div>
</div>
