<mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab
        *ngFor="let tab of statistics.displayedTabs; index as tabIndex"
        label="{{ tabIndex + 1 }}) {{ tab.tabKey | translate }}"
    >
        <app-grid-tab-content [tab]="tab"></app-grid-tab-content>
        <div class="d-flex">
            <div class="ml-auto">
                <button
                    mat-icon-button
                    color="primary"
                    (click)="navigateToIndex(tabIndex - 1)"
                    [disabled]="tabIndex === 0"
                    [matTooltip]="'dashboard.general.previousTab' | translate"
                >
                    <mat-icon>arrow_back_ios_new</mat-icon>
                </button>
                <button
                    mat-icon-button
                    color="primary"
                    (click)="navigateToIndex(tabIndex + 1)"
                    [disabled]="
                        tabIndex === statistics.displayedTabs.length - 1
                    "
                    [matTooltip]="'dashboard.general.nextTab' | translate"
                >
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<!-- TODO: Rm examples -->
<div class="row">
    <div *ngFor="let chart of charts" class="col-xl-6">
        <app-chart-card [chart]="chart" [nr]="123"></app-chart-card>
    </div>
</div>
